body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

/* This is the CSS for calendar page */

h4, h5 {
  font-weight: bold;
}

.list-unstyled {
  list-style-type: none;
  padding-left: 0;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.calendar-page {
  padding: 20px;
}

/* .highlighted-cell {
  background-color: lightyellow !important; 
}

.highlighted-row {
  color:yellow;
  background-color: yellow !important; 
} */
