.wfh-application {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.wfh-heading {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.wfh-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wfh-label {
  font-size: 16px;
  font-weight: 500;
  color: #444;
  margin-bottom: 8px;
}

.wfh-date-input,
.wfh-session-select,
.wfh-reason-input,
.wfh-file-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.2s;
}

.wfh-date-input:hover,
.wfh-session-select:hover,
.wfh-reason-input:hover,
.wfh-file-input:hover {
  border-color: #007bff;
}

.wfh-add-to-cart-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s;
}

.wfh-add-to-cart-btn:hover {
  background-color: #0056b3;
}

.wfh-cart {
  background-color: #fff;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.wfh-cart-heading {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
}

.wfh-cart-list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.wfh-cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.wfh-no-dates {
  font-size: 16px;
  color: #777;
}

.wfh-reason-input {
  height: 100px;
  resize: none;
}

.wfh-submit-btn {
  background-color: #28a745;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.wfh-submit-btn:hover {
  background-color: #218838;
}

.wfh-delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 15px;
}

.wfh-delete-btn:hover {
  background-color: #c82333;
}

.wfh-cart-item-text {
  flex-grow: 1;
}

.wfh-form-type-select {
  -webkit-appearance: none; /* Remove default arrow in some browsers */
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="none" stroke="%23212121" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 2l3 3 3-3"/></svg>'); 
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
  padding-right: 30px; /* Ensure space for the arrow */
}

.description{
  font-size: 12px;
  color: #ababab;
}
