.status-pending {
    color: orange;
}

.status-approved {
    color: green;
}

.status-rejected {
    color: red;
}

.table-cell-spacing td, .table-cell-spacing th {
    padding: 15px 20px;
    line-height: 2;
    font-size: 20px;
}
  